<!DOCTYPE html>
<html>
<head>
    <title>Create Artist</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Create Artist</h1>
    <form action="/createArtist" method="post">
        <div>
            <label>artist name: <input type="text" name="name" /></label>
        </div>
        <div>
            <label>artist biography: <input type="text" name="biography" /></label>
        </div>
        <div>
            <label>artist style: <input type="text" name="style" /></label>
        </div>
        <div>
            <label>artist totalExhibitions: <input type="text" name="totalExhibitions" /></label>
        </div>
        <div>
            <input type="submit" value="Create" />
        </div>
    </form>
    <footer>
        <div> Made by Yuting</div>
    </footer>
</html>