<!DOCTYPE html>
<html>
<head>
    <title>Create Artwork</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Create Artwork</h1>
    <form action="/createArtwork" method="post">
        <div>
            <label>artwork title: <input type="text" name="title" /></label>
        </div>
        <div>
            <label>artwork medium: <input type="text" name="medium" /></label>
        </div>
        <div>
            <label>artwork dimensions: <input type="text" name="dimensions" /></label>
        </div>
        <div>
            <label>artwork creationDate: <input type="text" name="creationDate" /></label>
        </div>
        <div>
            <label>artwork price: <input type="text" name="price" /></label>
        </div>
        <div>
            <label>artwork availabilityStatus: <input type="text" name="availabilityStatus" /></label>
        <div>
            <label>artwork artistID: <input type="text" name="artistID" /></label>
        </div>
        <div>
            <input type="submit" value="Create" />
        </div>
    </form>
    <footer>
        <div> Made by Yuting</div>
    </footer>
</html>